@import "../../../styles/variables.scss";
.glowing_button {
  position: relative;
  background-color: $lightGreen;
  color: white;
  width: 200px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(19, 169, 72, 0.8);
  transition: all 500ms;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  & > p {
    position: relative;
    z-index: 2;
    line-height: 24px;
  }
  &:hover {
    box-shadow: 0 0 25px 0 rgba(20, 117, 54, 0.8);
    background-color: $darkGreen;
  }
}
