@import "../../../../styles/variables.scss";
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
  z-index: 2;
  //md
  @media (min-width: $mdScreen) {
    background-color: $bg;
  }
  & > .content {
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    & > .logo {
      position: relative;
      width: 83%;
      max-width: 400px;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
    }
    & > h1 {
      font-size: $h1size;
      text-align: center;
      margin-bottom: 1rem;
    }
    & > h3 {
      font-size: $h3size;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: lighter;
    }
  }
  & > .green_overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    @media (min-width: $mdScreen) {
      z-index: 2;
    }
  }
  & > .black_overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 50%;
    pointer-events: none;
    @media (min-width: $mdScreen) {
      display: none;
    }
  }
  & > .planet {
    position: absolute;
    width: 100%;
    height: 66%;
    user-select: none;
    object-fit: cover;
    opacity: 30%;
    z-index: 1;
    @media (min-width: $mdScreen) {
      height: 100%;
      opacity: 10%;
    }
  }
}
