@import "../../../../../styles/variables.scss";

section.technologies {
  padding: 96px 0;
  & > h2 {
    font-weight: bold;
    font-size: $h2size;
    margin-bottom: 1rem;
    text-align: center;
  }
  & > .options {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
    column-gap: 0.5rem;
    @media (min-width: $mdScreen) {
      align-items: center;
      column-gap: 1rem;
    }
    & > button {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0.5rem 1rem;
      border: 2px solid white;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 250ms;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.25rem;
      &.active {
        border-color: $lightGreen;
        color: $lightGreen;
      }
      @media (min-width: $mdScreen) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  & > .technologies_list {
    max-width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    @media (min-width: $smScreen) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @media (min-width: $mdScreen) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 1rem;
    }
    & > .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $smScreen) {
        padding: 0;
      }
      & > p {
        text-align: center;
      }
      & > .image {
        width: 100%;
        height: 100%;
        padding: 2rem;
        & > img {
          filter: brightness(0) invert(1);
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
