$bg: #121212;
$lightGreen: #1db954;
$lightGreenContrast: #179d46;
$lightGreenLowOpacity: #1db95480;
$darkGreen: #147536;
$grayBg: #212121;
$proseText: #d1d5db;

$h1size: 3rem;
$h2size: 1.875rem;
$h3size: 1.5rem;

$smScreen: 640px;
$mdScreen: 768px;
$lgScreen: 1024px;
