@import "../../../styles/variables.scss";

.portfolio {
  min-height: 100vh;
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @media (min-width: $mdScreen) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
